@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-gradient {
    background-size: 300%;
    animation: gradient 8s ease infinite;
  }


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes spin-around {
      0% {
          transform: translateZ(0) rotate(0);
      }
      15%, 35% {
          transform: translateZ(0) rotate(90deg);
      }
      65%, 85% {
          transform: translateZ(0) rotate(270deg);
      }
      100% {
          transform: translateZ(0) rotate(360deg);
      }
  }

  @keyframes slide {
      to {
          transform: translate(calc(100cqw - 100%), 0);
      }
  }
}
